@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}


/* #39bf3e, #009237 */

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
p {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #3c3c3c;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    zoom: 1;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}

.standardWidth {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.over-clear {
    overflow: hidden;
}


/* 去除ie游览器中 input 框的默认属性，
type='text' 会有叉，type='password' 会有小眼睛 */

input::-ms-clear,
::-ms-reveal {
    display: none;
}


/* 
.color1 {
    background-color: #39bf3e;
    ;
} */


/* color: #39bf3e; */


/* color: #009237; */