@import 'reset.css';
@import 'upNav.css';
@import 'footer.css';
.main {
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    height: 600px;
}

.main .banner {
    height: 70px;
    width: 100%;
    min-width: 1200px;
    background-color: #39bf3e;
}

.main .title-line {
    width: 980px;
    height: 28px;
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;
    margin-top: 20px;
}

.main .title-line .tit {
    padding: 0 20px;
    height: 56px;
    line-height: 56px;
    background-color: #fff;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

.main .register-container {
    margin: 0 auto;
    padding: 60px 0;
    width: 100%;
    min-width: 800px;
}

.main .register-container>form {
    width: 420px;
    margin: 0 auto;
}

.main input:not([type='checkbox']) {
    height: 40px;
}

.main input:focus {
    box-shadow: none;
}

.main input[type='button'] {
    width: 100%;
    font-size: 14px;
}

.main input[type='checkbox'] {
    background-color: #39bf3e;
}

.main form .checkLabel {
    font-size: 12px;
}

.main form .checkLabel a {
    color: #39bf3e;
}

.main form .checkLabel span,
.main form .checkLabel a {
    vertical-align: middle;
}

.main form div[class="checkbox"] {
    text-align: left;
}


/* 安全系数 */

#safe_window {
    display: flex;
    /* background-color: lightblue; */
    margin-bottom: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

#safe_window P {
    font-size: 15px;
}

#safe_window span {
    font-size: 12px;
}

#safe_window .a_pw {
    display: flex;
}

#safe_window .a_pw .safe_line {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 7px;
    margin-right: 10px;
    background-color: transparent;
}


/* 设置提示信息 */

.main form>div {
    position: relative;
}

.main form>div[class='form-group']>p {
    display: none;
}

.main form>div[class='form-group']>p {
    width: 250px;
    text-align: left;
    position: absolute;
    right: -270px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.main form .backLogIn {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #39bf3e;
}

.main form .backLogIn>a {
    color: #39bf3e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.main form .backLogIn>a:hover {
    text-decoration: underline;
}

.main form .backLogIn>span {
    font-size: 14px;
}